.timeline {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
}

.timelineDate {
    overflow-y: hidden;
    overflow-x: scroll;
    position: flex;
    z-index: 999;
    scroll-behavior: smooth;
    margin: 2em;
    flex: 0 1 200px;
    height: 200px;
    min-height: 200px;
    background-color: white;
    opacity: 85%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.timelineEvent {
    stroke-width: 1px;
    stroke: black;
}
